*{
    box-sizing: border-box;
}
body{
    background-image: url("react.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: 20px;
    text-align: center;
}
#heading1{
    font-size: 3rem;
}
#introduction{
    font-size: 2rem;
}
#paragraph{
    font-size: 1.2rem;
}